
.one{
    display: flex;
    gap: 30px;
    margin: 30px;
    border: 2px solid wheat;
    background-color: green;
    margin-top: 40px;
}
.two{
    color: white;
    padding: 20px;
}
.three{
    padding: 20px;
}
#menu{
    padding: 0;
    list-style-type:none;
    position: relative;

}
#menu li{
    float: left;
    border-right: 2px solid blue;
    border-bottom: 5px solid orange;
}
#menu li a{
    color:red;
    text-decoration: none;
    background-color: aqua;
    padding: 20px;:30px

}
#menu li a:hover{
    background-color: black;
}